@mixin fontStyle ($color, $size, $lineHeight) {
    color: $color;
    font-size: $size;
    line-height: $lineHeight;
 }
#drop_down{
    display: none;
}
.menu {
ul{
list-style: none;
}
li{
display: inline-block;
}

a{
    @include fontStyle(#ffffff,24px ,33.72px );
        
text-decoration: none;
padding: 0px;
&:hover{
    border-bottom: 2px solid #edbfff    
}
}
li+li{
    padding-left:50px 
}
}

.select{
    display: none
}
.header_top{
    display: flex;
    justify-content: space-between;
    padding: 70px 0px 170px;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    
}

.header_conteiner{
    background-image: url("../images/bg.png")
}
.pingbull, .er{
    margin: 0px
}

.header_content{
    display: flex;
    justify-content: space-between; 
    max-width: 960px;
    height: 400px;
    margin: 0 auto;   
}
.content_text{
    width: 500px;
    padding: 80px 0 90px
}
.header_overflow{
    background-image: url("../images/overlay.png") 
}
.content_img{
    position: relative;
    width: 460px
}

.iphone_copy{
    position: absolute;
    top: 70px;
    left: 110px;

}
.iphone{

    position: absolute;
    justify-content: center;
 right: 75px;
 top: -13px

}

.shape14, .elipse, .shape15{
    position: absolute;
   
}

.shape14{
    right: 134px;
    bottom: 189px
}
.elipse{
    right: 147px;
    bottom: 203px
}

.shape15{
    right: 158px;
    bottom: 216px 
}

.content_text{
h1{
 @include fontStyle(#ffffff,60px ,36px );
text-shadow: 2px 2px black
}
h2{
@include fontStyle( #edbfff, 32px, 36px);  
margin: 12px 0px 10px;
text-shadow: 1px 1px black;
}
p{
    font-family: 'open_sanslight';
    @include fontStyle( #ffffff, 18px, 26px);  
    text-shadow: 1px 1px black;  
    
}
}
.header_dots{
    height: 170px;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
   
}
.dots_navigation{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 715px;
    top: 100px;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 90%;
    background-color: #3c3841;
 margin-left: 5px;
    border: 2px solid  #3c3841;
    &:hover{
        background-color: #ffffff;
    }
}

@media (max-width: 768px){
    .content_text{
        width: 280px;
        padding: 0px;
        margin: 100px 0px 115px 25px;
        overflow-x:hidden; 
        
            h1{
         
                @include fontStyle(#ffffff,40px ,36px );
                word-wrap: normal;   
             }
            
            h2{
                @include fontStyle( #edbfff, 20px, 20px);
             }
            
            p{
                    @include fontStyle( #ffffff, 14.5px, 18px);  
                 }            
            }
            .iphone_copy{
                top: 70px;
                left: 140px;
            }
            .iphone{
             right: 52px;
            }
            .shape14{
                right: 111px;
            }
            .elipse{
                right: 124px
            }
            .shape15{
                right: 135px;
            }        
    .header_top{
      flex-direction: column;
      padding: 70px 0px 80px 25px;
      ul{
       margin-top: 22px;
        }
    }
    .dots_navigation{
        left: 524px;
       top: 40px
    }

    .header_dots{
        height: 160px;
       
    }
}
@media (max-width: 480px){
    .header_top{
       align-items: center;
       padding: 70px 0px 100px 0px;
height: 200px;
z-index:1;
      }

.menu{
display: none;
height: 265px;
width: 245px;

ul{
    border: 2px solid #3c3045;
    border-radius: 5px;
    li+li{
        padding-left: 0px;
    }
}
li{
    display:block;
    text-align: center;
    padding-left: 0px;
    background-color: #3c3045;
    border: 0.5px #483d50 solid;
opacity: 0.9;
    &:hover{
        background-color: #2b2231;
        opacity: 0.9;
        border-bottom: 2px solid #edbfff 
    }
   
    } 
}
a{
    @include fontStyle(#ffffff,24px ,42px );
        
}
#drop_down{
    display: block;
    @include fontStyle(#ffffff,24px ,42px ); 
    border-bottom: 2px solid #edbfff 
    
}
#drop_down:hover .menu {
    display: block;
  }
  .dots_navigation{
    left: 200px;
   top: 25px
}
}
@media (max-width: 480px){
    .header_top{
       align-items: center
      }
      .select{
        display: block
    }

.iphone_copy, .iphone, .shape14, .elipse, .shape15{
zoom: 68%;
}

.shape14, .elipse, .shape15{
margin-bottom: 85%
}
.iphone_copy{
    left: -60px;
}
.iphone{
    right: 25px;
   }
   .shape14{
       right: 84px;
   }
   .elipse{
       right: 97px
   }
   .shape15{
       right: 108px;
   }       
.content_text{
margin: 80px 0px 0px 25px;
width: 270px;
}
.discription{
display: none
} 
.headline{
font-size: 30px;
line-height: 36px;
}

.under_headline{
font-size: 20px;
line-height: 20px;
margin: 12px 0px 10px;
}
.content_img{
    position: relative;
    width: 150px
}
}

@media (max-width: 480px){
    .content_img{
      display: none;
    } 
.header_overflow{
    background: none;
}    
.header_content{
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: 200px;
}
.headline{
    text-align: center;
    }
    .content_text{
        margin: 0px 0px 0px 0px;
        width: 320px;
       
        }
        .under_headline{
           text-align: center;
            margin: 12px 0px 10px;
            }

    .header_dots{
        height: 100px;
        align-items: center;
        justify-content: center;
    } 
    .dots_navigation{
        left: 125px;
       top: 35px
    }          
}