*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    
    font-family: 'league_gothicregular';
}

// @mixin fontStyle ($color, $size, $lineHeight) {
//     color: $color;
//     font-size: $size;
//     line-height: $lineHeight;
//  }

// @mixin iconsStyle ( $content, $width, $display, $justifyContent, $paddingTop)
// {
//     content: $content;
//     width: $width;
//     display: $display;
//     justify-content: $justifyContent;
//     padding-top: $paddingTop
// }

// $maxWidth: 960px;























